.tab-icon {
    margin-right: 8px;
  }

  .stretched-tabs{
      width: 500px;
      height: 200px;
      padding: 1em;
  }

  .payment-content{
    padding: 1em;
    // text-align: center;
    height: 60px;
  }

  .payment-content > .payment{
      font-size: 1.3em;
  }