.thirdparty-login{
    margin: 20px auto 0px;
    color: gray;
    width: 200px;
}

.google-icon{
    width: 18px;
    height: 18px;
}

.facebook-login{
    background: #1877F2;
    color: white;
}

.thirdparty-icon{
    // position: absolute;
    // left: 7px;
    // top: 7px;
    margin-right: 8px;
}